.container{
    background-color: rgb(36, 36, 36);
    height: auto;
    display: flex;
    padding: 50px;
}
.item{
    position: relative;
    flex:1;
    background-color: rgb(36, 36, 36);
    flex-wrap: wrap;
    display: flex;
}

.map {
    margin-top: 50px;
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 40px ;
  }
  
  
 
  .card{
    flex-wrap: wrap;
    margin-top: 50px;
    flex:0.9;
    margin-top: 50px;
  }
  .card:first-child{
    flex:0.7;
  }
  .title{
    color:white;
    font-size: 30px;
    white-space: nowrap;
  }
  .text{
   font-weight: 200;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    color:white;
    white-space: nowrap;
  }
  .text span{
    display:block;float:right;width:50%;margin-left:10px;
  }
  .img{
    
    height: 400px;
    width: 400px;
    border-radius:40px ;
  }