.container{
    background-color: rgb(43, 43, 43);
    height: auto;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
}
.item{
    position: relative;
    flex:1;
    background-color: rgb(43, 43, 43);
    
    display: flex;
    flex-wrap: wrap;
}

.map {
    
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 40px ;
  }
  
  
 
  .card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    flex:1;
  }
  .card:first-child{
    flex:0.7;
  }
  .card:last-child{
    flex:0.7;
  }
  .title{
    margin-left: 20px;
    color:white;
    font-size: 30px;
    white-space: nowrap;
    
  }
  .text{
    
   font-weight: 200;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    color:white;
    white-space: nowrap;
  }
  .text span{
    
    display:block;float:right;width:30%;margin-left:10px;
  }
  .img{
    
    height: 400px;
    width: 400px;
    border-radius:40px ;
  }