.container{
    background-color: #000000e1;
    backdrop-filter: blur(10px);
    /* background-color:#d88509; */
    height: 60px;
    padding: 0px 30px ;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 1000;
}

.item{
    flex:1;
    display: flex;
    align-items: center;
}
.item:nth-child(2){
    flex:3; 
    
    
}
.item:last-child{
    flex:1;
    justify-content: flex-end;
}
.callButton{
    background-color:rgb(235, 235, 235);
    border-radius: 50%;
    padding:8px ;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.4s;
}
.callButton:hover{
    transition: all 0.3s;
    background-color:rgb(255, 255, 255);
}
.texts{
 margin-left: 6px;
 color: #ececec;
 cursor: pointer;
}
.img{
    filter: brightness(92%) ;
    transition: all 0.3s;
}
.img:hover{
    filter: brightness(100%) ;
    transition: all 0.3s;
}
.texts:first-child{
    font-size: 12px;
    font-weight: 400;
}
.texts:last-child{
    font-size: 14px;
    font-weight: bold;
    
}
.list{
    
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color:rgb(224, 224, 224);
    font-size: 15px;
    justify-content: center;
    margin: auto;
}

.listItem{
    cursor: pointer;
    margin-left:2.5vw;
    margin-right:2.5vw;
    font-weight: 500;
}
.listItem:hover{
    color:white;
}
.cart{
    position: relative;
    cursor: pointer; 
    
}
.counter{
    position: absolute;
    top:-7px;
    right:-10px;
    background-color: #ffffff;
    color:#000000;
    padding-top: 1px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    transition: linear 0.3s;
}

.cart1{
    filter:  brightness(90%);
    transition: linear 0.2s;
}
.cart1:hover{
    filter:  brightness(100%);
    transition: linear 0.2s;
}

