.container{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #550077, #161616 ,#161616);
}

.desc{
    font-size: 24px;
    color:rgb(212, 212, 212);
    width: 70%;
    text-align: center;
}
.wrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.title{
    color:rgb(255, 255, 255);
}