.container{
    width: 30%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    height: 20vw;
    background-color: #e8e8e9;
    margin: 1%;
    border-radius: 1vw;
    transition: all 0.5s;
    
}

.container:hover{
    background-color: #dfdede;
    transition: all 0.5s;
    cursor: pointer;
}

.title{
    font-size: 20px;
    font-weight:700 ;
    color: rgb(0, 0, 0);
}

.price{
    font-size: 18px;
    font-weight:700 ;
    color: #BD050F
}

.desc{
    text-align: center;
    color: rgb(66, 66, 66);
}