.container{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F5F7
}

.desc{
    font-size: 25px;
    font-weight:600 ;
    
    color:rgb(95, 95, 95);
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}
.desc1{
    color:#4C5CB0;
}
.wrapper{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.title{
    font-size: 46px;
    font-weight:700 ;
    font-style: italic;
    width: 80%;
    text-align: center;
    color:rgb(10, 10, 10);
    font-family: 'Inter','Poppins', sans-serif;
}