.container{
    width: 30%;
    color:blue;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    height: 20vw;
    background-color: rgb(212, 212, 212);
    margin: 1%;
   
}
.container:hover{
    background-color: rgb(94, 94, 94);
}